
<div class="alert alert-danger" ng-show="error">
    Invalid username and password.  Please try again.
</div>
<form role="form" ng-submit="login()">
    <div><label> User Name : <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/> </label></div>
    <div><label> Password: <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/> </label></div>
    <div><button class="btn btn-primary" type="submit">Sign in</button></div>
</form>
